blinker
click
colorama
Deprecated
dnspython
email-validator
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Limiter
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
limits
markdown-it-py
MarkupSafe
mdurl
ordered-set
packaging
psycopg2-binary
Pygments
PyJWT
python-dotenv
rich
SQLAlchemy
typing_extensions
Werkzeug
wrapt
pytest
pytest-cov
mutagen
transformers
torch
torchaudio
librosa
soundfile
faster-whisper
